@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-main: #fff;
  --background-main: #1b1f24;
}

body {
  color: var(--foreground-main);
  background: var(--background-main);
}

@layer components {
  .bar-muted {
    @apply h-[1px] w-full bg-dark;
  }
}

.redirect-link {
  position: relative;
}

.redirect-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -4px;
  left: 0%;
  background-color: var(--foreground-main);
  transition: all 300ms ease;
}

.redirect-link:hover::before {
  width: 100%;
}

.redirect-link:hover svg {
  transform: translateX(0.4rem);
}

.portfolio-card .portfolio-image-wrapper {
  transform-style: preserve-3d;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
}

.portfolio-card:hover .portfolio-image-wrapper {
  transform: translate3d(0px, 10px, 0px) scale3d(1.1, 1.1, 1.1);
}
