@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-main: #fff;
  --background-main: #1b1f24;
}

body {
  color: var(--foreground-main);
  background: var(--background-main);
}

@layer components {
  .bar-muted {
    @apply bg-muted h-[1px] w-full;
  }
}

.redirect-link {
  position: relative;
}

.redirect-link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0%;
  left: 0%;
  background-color: var(--foreground-main);
  transition: all 300ms ease;
}

.redirect-link:hover::before {
  width: 100%;
}

.redirect-link:hover svg {
  transform: translateX(0.4rem);
}
